[Desktop Entry]
Type=Application
Name=LogView
GenericName=Log Viewer
Comment=View, grep, bookmark and annotate log files
Exec=LogView %F
Icon=LogView
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/x-log;
Keywords=log;logs;viewer;grep;
